.main {
  background: lightgrey;
  padding-top: 30px;
}
p, h2 {
  font-family: sans-serif;;
}
.main-info {
  background: white;
  padding: 30px;
  position: relative;
  margin:40px auto;
  width: 80%;
  min-height: 40vh;
  /*height: 40vh;*/
  /*max-height: 100vh;*/
  text-align: center;

  display: flex;
  flex-direction:column;
}
.main-info p {
  position: absolute;
  width: 90%;
  text-align: justify;
  margin: 0 auto;
  font-size: 20px;
  font-family: sans-serif;
  flex: 1;
}
.button-container {
  position: absolute;
  bottom: 15px;
  left: 15px;
  margin: 15px;
}
.button {
  width: 125px;
  height: 50px;
  display: inline-block;
  margin: 0 10px 0 0;
  /*display:flex;*/
  /*align-content: center;*/
  /*float: left;*/
}
#red {
  background: red;
}
#blue {
  background: blue;
}
.button button {
  /*margin: auto;*/
  margin-top: 10px;
  background: none;
  color: white;
  font-size: 24px;
  font-family:sans-serif;
  border: none;
}
.main-content {
  background: white;
  height: 85vh;
  width: 80%;
  position: relative;
  margin: 0 auto;
  padding: 30px;
}
.image-container {
  background: gray;
  /*text-align: center;*/
  position: relative;
  width: 95%;
  margin: 0 auto;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container h2 {
  color: white;
  font-weight: normal;
  font-size: 30px;
}
.main-content p {
  width: 95%;
  margin: 20px auto;
  text-align: justify;
  font-size: 20px;
}
.footer-nav {
  height: 15vh;
  width: 100%;
  background-color: black;
}
.footer-nav ul li {
  display: inline-block;
  font-family:sans-serif;
  color: white;
  margin: 30px 60px 0 0;
  float: right;
  font-size: 24px;
}
